%h1 Editing task

= render 'form'

= link_to 'home', root_url, class: "btn btn-warning"

= link_to 'Delete', task_path(@task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
