- if !user_signed_in?
  .jumbotron 
    %h1 Welcome to Todolist!
    %p Todolist can be used for making a note of what to do before long or you must remember.
    you can easily check them with this convenient application.
    %hr
    .lead
      = link_to 'Use Todolist', new_user_registration_path, class: 'btn btn-primary btn-lg' 
     
- if user_signed_in?
  %h2 my todo list
  %ul
    %li
      = link_to 'タスクを追加する', new_task_path
  %hr
- if @my_tasks
  - @my_tasks.each do |task|
    = render 'tasks/task_card', task: task
